HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
generated\MemberServiceTest2.java
MemberServiceTest2.java
MemberServiceTest3.java
MemberServiceTest4.java
MemberServiceTest5.java
MemberServiceTest6.java
MemberServiceTest7.java
MemberServiceTest8.java
build.gradle.NEW
build2.gradle.BAK
build3.gradle.BAK